//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Primary
$primary:       									#31abcc;
$primary-active:    								darken($primary, 5%);
$primary-light:    								    #F1FAFF;
$primary-inverse:  									#FFFFFF;

// Success
$success:       									#0BB783;
$success-active:    								darken($success, 5%);
$success-light:    									#E8FFF3;
$success-inverse:  									#FFFFFF;

// Info
$info:       									    #8950FC;
$info-active:    									darken($info, 5%);
$info-light:    									#F8F5FF;
$info-inverse:  									#FFFFFF;

// Danger
$danger:       									    #F64E60;
$danger-active:    									darken($danger, 5%);
$danger-light:    									#FFF5F8;
$danger-inverse:  									#FFFFFF;

// Warning
$warning:       									#FFA800;
$warning-active:    								darken($warning, 5%);
$warning-light:    									#FFF8DD;
$warning-inverse:  									#FFFFFF;

// Dark
$dark:          									#181C32;
$dark-active:          								darken($dark, 5%);
$dark-light:          							    #EFF2F5;
$dark-inverse:         								#FFFFFF;

// Forms
//$form-label-font-weight:                          600;
//$form-label-font-size:                            1.05rem;

//$input-btn-font-weight                            500;
//$input-btn-font-size:                             1rem;
//$input-btn-font-size-sm:                          0.95rem;
//$input-btn-font-size-lg:                          1.1rem;

// Buttons
//$btn-font-weight:                                 $input-btn-font-weight;
//$btn-font-size:                                   $input-btn-font-size;
//$btn-font-size-sm:                                $input-btn-font-size-sm;
//$btn-font-size-lg:                                $input-btn-font-size-lg;

// Inputs
//$input-font-weight:                               $input-btn-font-weight;
//$input-font-size:                                 $input-btn-font-size;
//$input-font-size-sm:                              $input-btn-font-size-sm;
//$input-font-size-lg:                              $input-btn-font-size-lg;
